In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

In [78]:
#load dataset
df = pd.read_csv(r"C:\Users\revan\Downloads\iris.csv")

In [80]:
# Display basic info
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

In [82]:
# Display first few rows
display(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [84]:
# 1. Handle missing data
# Check for missing values
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [86]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [88]:
# Handle missing data (if any)
# For this dataset, there are no missing values, so no action is needed.

# Detect and remove outliers (if any)
# Using the IQR method to detect outliers
# Select only numeric columns for IQR calculation
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

In [90]:
# Calculate Q1, Q3, and IQR for numeric columns
Q1 = df[numeric_columns].quantile(0.25)
Q3 = df[numeric_columns].quantile(0.75)
IQR = Q3 - Q1

In [92]:
# Remove outliers
df = df[~((df[numeric_columns] < (Q1 - 1.5 * IQR)) | (df[numeric_columns] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [94]:
# Convert categorical variables into numerical format
# Using Label Encoding for the 'species' column
label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])

In [96]:
# Normalize or standardize numerical data
# Using StandardScaler to standardize the numerical columns
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

In [98]:
# Display the cleaned and preprocessed dataset
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0     -0.910515     1.175789     -1.374878    -1.345899        0
1     -1.151122    -0.093924     -1.374878    -1.345899        0
2     -1.391729     0.413961     -1.431986    -1.345899        0
3     -1.512032     0.160019     -1.317771    -1.345899        0
4     -1.030819     1.429732     -1.374878    -1.345899        0

In [100]:
# Optionally, split the dataset into training and testing sets
X = df.drop('species', axis=1)
y = df['species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [102]:
# Display the shapes of the resulting datasets
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(116, 4) (30, 4) (116,) (30,)